* {
	box-sizing: border-box;

	margin: 0;

	padding: 0;

	font-family: 'Karla', sans-serif;
}

body {
	background-color: #f5f7fb;
}

button {
	cursor: pointer;

	background-color: #4d5b9e;

	color: #f5f7fb;

	border: none;
	border-radius: 1em;
}

label {
	cursor: pointer;

	display: block;

	padding: 0.3em 0.7em;

	border-radius: 1em;
}

input[type='radio'] {
	display: none;
}

.container {
	height: 100vh;
}

.breakline {
	background-color: transparent;

	border-bottom: 0.0625em solid #dbdef0;

	margin-block-start: 1.4em;
}

.grid-center {
	display: grid;
	place-items: center;
}

.blob-yellow {
	background-color: #fffad1;

	position: fixed;
	top: 0;
	right: 0;

	width: 12em;

	height: 12em;

	border-radius: 11% 89% 0% 100% / 27% 0% 100% 73%;
}

.blob-lightblue {
	background-color: #deebf8;

	position: fixed;
	left: 0;
	bottom: 0;

	width: 15em;

	height: 12em;

	border-top-right-radius: 15em 25em;
	border-top-left-radius: 9em 2.5em;
}

.intro {
	text-align: center;
}

.intro__title {
	font-weight: 700;

	font-size: 4rem;

	color: #293264;
}

.intro__desc {
	color: #293264;

	font-size: 1.5rem;

	margin-block-start: 1em;
}

.intro__button {
	font-size: 1.5rem;

	padding: 0.7em 3em;

	margin-block-start: 1.5em;
}

.quiz {
	width: calc(100vw - 27em);

	margin-inline-start: 15em;

	padding: 2em;
}

.spinner-box {
	background-color: transparent;

	width: 10.75em;

	height: 10.75em;

	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.configure-core {
	width: 100%;

	height: 100%;

	background-color: #293264;
}

.configure-border {
	width: 6.25em;

	height: 6.25em;

	padding: 0.21875em;

	display: flex;
	justify-content: center;
	align-items: center;
}

.configure-border-1 {
	background-color: yellow;

	position: absolute;

	animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
}

.configure-border-2 {
	background-color: rgb(0, 153, 255);

	left: -115px;

	transform: rotate(45deg);

	animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
}

@keyframes configure-clockwise {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes configure-xclockwise {
	0% {
		transform: rotate(45deg);
	}
	25% {
		transform: rotate(-45deg);
	}
	50% {
		transform: rotate(-135deg);
	}
	75% {
		transform: rotate(-225deg);
	}
	100% {
		transform: rotate(-315deg);
	}
}

.question-container + .question-container {
	margin-block-start: 1em;
}

.question {
	font-size: 1.5rem;
	font-weight: 700;

	color: #293264;
}

.options {
	display: flex;

	margin-block-start: 1.5em;
}

.option + .option {
	margin-inline-start: 3em;
}

input[type='radio']:checked + .in-game-label {
	border: 0.0625em solid #d6dbf5;

	background-color: #d6dbf5;
}

.in-game-label {
	border: 0.0625em solid #4d5b9e;

	color: #293264;
}

.gray-label {
	border: 0.0625em solid #a1a9cd;

	color: #8f95b0;
}

.correct-label {
	background-color: #94d7a2;
}

.incorrect-label {
	background-color: #f6dadc;
}

.below-questions {
	display: flex;
	align-items: center;

	margin-block-start: 2em;
}

.button-check-answers {
	display: block;

	font-size: 1rem;

	padding: 1em 2em;

	margin-inline: auto;
}

.button-play-again {
	margin-inline-start: 4em;
	margin-inline-end: auto;
}

.close-icon {
	cursor: pointer;

	width: 2em;
	height: 2em;
}
